body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/1920\ x\ 1080.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, 'Times New Roman', Verdana,'Franklin Gothic Medium', 'Arial Narrow', sans-serif, Times, serif, Geneva, Tahoma, sans-serif, 'Courier New', Courier, monospace, Georgia;
}

.contenedor-h1-titulo-juego,
.contenedor-reglas-juego,
.contenedor-botones-juego,
.contenedor-resultados-juego,
.contenedor-resultadosFinal-juego,
.contenedor-boton-jugarDenuevo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-principal,
.contenedor-reglas-juego,
.contenedor-botones-juego,
.contenedor-resultados-juego,
.contenedor-resultados,
.contenedor-lista-reglas-juego,
.contenedor-resultadosFinal-juego{
    margin: 20px 10px;
    padding: 10px 20px;
}

.contenedor-principal,
.contenedor-reglas-juego,
.contenedor-botones-juego,
.contenedor-resultados-juego,
.contenedor-resultados,
.contenedor-lista-reglas-juego,
.contenedor-resultadosFinal-juego{
    border: rgb(255, 255, 255, .2) solid 2px; 
    border-radius: 20px;
}

.titulo-h1,
.titulo-h2-1,
.titulo-h2-2,
.titulo-h2-3,
.titulo-h2-4{
    color: white;
    font-family: 'Atón';
}

.contenedor-resultados-rondas,
.contenedor-resultados-empate,
.contenedor-resultados-jugador,
.contenedor-resultados-PC{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    border: rgb(255, 255, 255, .2) solid 2px;
    
}
.contenedor-info-ronda,
.contenedor-info-empate,
.contenedor-info-jugador,
.contenedor-info-PC{
    display: flex;
    flex-basis: 100%;
}

.contenedor-resultado-jugador,
.contenedor-resultado-empate,
.contenedor-resultado-ronda,
.contenedor-resultado-PC{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
}
.txtJugador,
.txtPC,
.txtEmpate,
.txtRondas{
    margin: 16px;
}

.contenedor-lista-reglas-juego,
.txtInfo-relges-juego,
.txtinfo-botones-seleccion,
.contenedor-info-ronda,
.contenedor-resultado-ronda,
.contenedor-info-empate,
.contenedor-resultado-empate,
.contenedor-info-jugador,
.contenedor-resultado-jugador,
.contenedor-info-PC,
.contenedor-resultado-PC,
.txtGanador,
.txtInfo{
    color: white;
}

.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.contenedor-h1-titulo-juego{
    margin: 20px 10px;
    color: white;
}

.contenedor-principal{
    background: transparent;
    backdrop-filter: blur(40px);
}

.contenedor-botones button{
    margin: 0px 5px;
    width: 100%;
    height: 50px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
}
button:hover{
    scale: 1.03;
    background: orange;
}

.contenedor-resultados{
    display: flex;
    flex-direction: row;
}